<!-- views/partials/_header.ejs -->
    <H1>Tiny App</H1>
    <% if (user) { %>
        <form action="/logout" method="POST" type="submit" value="Logout">
          <span><%= user.email %></span> <button>Logout</button><br>
          </br>
        </form>
    <% } else{ %>
        <p>
        <a href="/register">Register</a> 
        
        <a href="/login">Login</a><% } %>

        </p>