<!DOCTYPE html>
<html lang="en">
  <style>
          body {background-color: rgb(45, 210, 243); text-align: center;}
          h1   {color: blue;}
          h2   {color: red;}
          p    {color: red;}
  </style>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST" name="login" type="login" value="Email">
    <label for="email">Email:</label> 
    <input id="email" type="email" name="email" placeholder="email" style="width: 150px">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="password" style="width: 150px">
    <button>Login</button>
  </form>
</body>

</html>
