<!DOCTYPE html>
<html lang="en">
  <style>
          body {background-color: rgb(45, 210, 243); text-align: center;}
          h1   {color: blue;}
          h2   {color: red;}
          p    {color: red;}
  </style>
<body>
  <main>
      <h2>Log into your account</h2>
      <form action="/login" method="POST">
        <label for="login">Login </label>
        <input id="login" name="email" type="email">
        <label for="password">Password </label>
        <input id="password" name="password" type="password">
        <input type="submit" value="Sign In">
      </form>
  
      <p>Don't have an account? <a href="/register">Click here to create a new account.</a></p>
    </main>
</body>

</html>
