<!DOCTYPE html>
<html lang="en">
<body>
  <h1>Register</h1>
  <form action="/register" method="POST" name="registrstion" type="registration" value="Email">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="email" style="width: 150px">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="password" style="width: 150px">
    <button>Submit</button>
  </form>
</body>
</html>