<!DOCTYPE html>
<html lang="en">
      <body style="font-size:20px; padding:20px;">
            <form action="/login" method="POST" type="submit" value="Login">
                <input type="text" name="username"  style="width: 100px">
                <input type="submit" value="Login">
            </form>
      </body>
</html>
