<!DOCTYPE html>
<html lang="en">
    <style>
        body {background-color: rgb(45, 210, 243); text-align: center;}
        h1   {color: blue;}
        h2   {color: red;}
        p    {color: red;}
</style>
<%- include ./partials/_header %>



    <body style="font-size:20px; padding:20px;">
              <p><strong>ShortURL: <%= urlObj.shortURL %></a></strong></p>
              <p><strong>LongURL: <%= urlObj.longURL %></strong></p>
              <form method="POST" action="/urls/<%= urlObj.shortURL %>">
                <label for="longURL"></label>
                <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 200px">
                <input type="submit" value="Update">
              </form>

    </body>

</html>